img {
    max-inline-size: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top center;
    border-radius: var(--br-sm);
  }

.img {
   border-radius: var(--br-base);
}

.img-rounded {
    border-radius: var(--br-full);
}

.img-10 {
    width: 10rem;
    height: 10rem;
}

.img-sm {
    width: 6rem;
    height: 6rem;
}