.flex-row-wrap-start {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.flex-row-wrap-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex-col-wrap-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex-row-wrap-space-around {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.rounded {
    border-radius: var(--br-full);;
}

.squared {
    border-radius: var(--br-base);
}

.text-warning {
    color: var(--color-orange);
}