.section {
    margin: var(--space-sm);
}
h1{
    color: var(--color-primary);
}

h2 {
    font-size: var(--fs-lg);
    width: 50%;
    text-align: center;
}

.wrapper {
    max-width: 950px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 1rem auto;
}

aside {
    flex-basis: 20%;
    height: 350px;
    background-color: lawngreen;
}

main {
    flex-grow: 1;
    background-color: lightcoral;
}

.main-container > * {
  margin: var(--space-lg);
}

.main-container a {
    color: inherit;
}

.btn {
    padding: var(--space-sm) var(--space-xlg);
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    color: var(--color-gray-darker);
}

