.input-group { 
    width: fit-content;
}
.input-label {
  padding-bottom: 0.25rem;
}
.input-field{
    border: 1px solid var(--color-gray-darker);
    padding: var(--space-xs);
}

.input-field-15w {
    width: 15rem;
}

.input-valid {
    border: 2px solid var(--color-green);
}

.input-error {
    border: 2px solid var(--color-red);
}