:root{
    --color-primary: #F66B26;
    --color-primary-darker: #FE6A4B;
    --color-primary-xtra-darker: #E05009;
    --color-primary-lighter: #FAE6DE;

    --color-secondary: #96DDFF;
    --color-secondary-darker: #9ad13b;
    --color-secondary-lighter: #e7f9c8;

    --color-black: #2D3748;
    --color-white: #F7FAFC;
    --color-gray: #f7fafc;
    --color-gray-darker: grey;
    --color-gray-lighter: #DDDCDC;
    --color-gray-light: #e3e3e3c7;
    --color-red: #F66868;
    --color-orange: orange;
}