.flex-row-wrap-start {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.flex-row-wrap-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.rounded {
    border-radius: var(--br-full);;
}

.squared {
    border-radius: var(--br-base);
}