/* Text Alignment */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

/*  Text transformations */
.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-normal-case {
    text-transform: none;
}

/* Text Decoration */
.text-underline	{
    text-decoration-line: underline;
}

.text-overline {
    text-decoration-line: overline;
}

.text-line-through {
    text-decoration-line: line-through;
}

.text-no-underline {
    text-decoration-line: none;
}

/* Headings */

.heading-h1 {
   font-weight: var(--fw-bold);
   font-size: var(--fs-xl);
}

.heading-h2 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-lg);
 }

 .heading-h3 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-base);
 }

 .heading-h4 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-sm);
 }

 .text-sm {
  font-size: var(--fs-sm);
 }

 .text-extra-sm {
     font-size: var(--fs-xs);
 }

/* Text Color */

.text-warning {
    color: var(--color-orange);
}

.text-primary {
    color: var(--color-primary);
}

 .text-disabled {
   color: var(--color-gray-darker);
 }