:root {
    /* Spacings */

    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xlg: 2.5rem;

    /* Font-Weight */
     --fw-light: 300; 
     --fw-normal: 400;
     --fw-bold: 700;

     /* Font-Size */
     --fs-xs: 0.75rem;
     --fs-sm: 0.875rem;
     --fs-base: 1rem;
     --fs-lg: 1.125rem;
     --fs-xl: 1.25rem;
     --fs-xxl: 1.5rem;

}