.btn {
    font-weight: var(--fw-bold);
    font-size: var(--fs-sm);
    border: none;
    padding: var(--space-sm);
    margin: var(--space-xs);
    border-radius: var(--br-base);
    box-shadow: 0 1px 2px grey;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.btn-secondary {
    background-color: var(--color-secondary);
    color: var(--color-black);
}

.btn-link {
    background: none;
    text-decoration: underline;
}

.btn-floating {
    border-radius: var(--br-full);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn.btn-floating {
    padding: inherit;
}

.btn-outlined {
    background-color: transparent;
    box-shadow: none;
}

.btn-outlined.btn-primary{
    color: var(--color-primary);
    border: var(--bw-base) solid var(--color-primary);
}

.btn-outlined.btn-secondary{
    color: var(--color-black);
    border: var(--bw-base) solid var(--color-secondary);
}

.btn-primary.btn-ghost {
    background-color: var(--color-primary-lighter);
    color: var(--color-primary-darker);
}