/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    font-family: 'Playfair Display', serif;
    background-color: var(--color-gray);
}
/* Typography */
/* Headings */
h1 {
  font-size: var(--fs-xl);
  line-height: var(--lh-xl);
  font-weight: var(--fw-bold);
  color: var(--color-black);

}

h2 {
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  font-weight: var(--fw-bold);
  color: var(--color-black);
}

h3 {
    font-size: var(--fs-sm);
    line-height: var(--lh-sm);
    font-weight: var(--fw-bold);
    color: var(--color-black);
}

/* ---Headings--- */

/* Paragraph */
p {
    font-size: var(--fs-base);
    font-weight: var(--fw-normal);
    color: var(--color-black);
}
/* ---Typography--- */